
/*@import url("https://use.typekit.net/sgf3ptj.css");*/
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * futura-pt:
 *   - http://typekit.com/eulas/00000000000000000001008f
 *   - http://typekit.com/eulas/000000000000000000010091
 *   - http://typekit.com/eulas/000000000000000000013365
 *   - http://typekit.com/eulas/000000000000000000010095
 *   - http://typekit.com/eulas/000000000000000000010096
 *   - http://typekit.com/eulas/000000000000000000010097
 *   - http://typekit.com/eulas/000000000000000000012192
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-02-15 15:16:42 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=sgf3ptj&ht=tk&f=10879.10881.10884.10885.10886.10887.15586&a=16030236&app=typekit&e=css");
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 500;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 700;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 400;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: swap;
  font-style  : italic;
  font-weight : 400;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 300;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/0c71d1/000000000000000000010097/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/0c71d1/000000000000000000010097/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/0c71d1/000000000000000000010097/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 800;
}
@font-face {
  font-family : "futura-pt";
  src         : url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: swap;
  font-style  : normal;
  font-weight : 600;
}

.tk-futura-pt {
  font-family: "futura-pt", sans-serif;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuk6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWu06FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtk6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6FxZCJgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuk6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWu06FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtk6FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06FxZCJgvAQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6FxZCJgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

pre {
    margin-bottom: 30px;
  }
  
  p.lead {
    @include breakpoint(small down) {
      font-size: 100%;
    }
  }
  /*header styles
  small : ('h1': ('font-size': 28), 'h2': ('font-size': 24), 'h3': ('font-size': 20), 'h4': ('font-size': 18), 'h5': ('font-size': 16), 'h6': ('font-size': 14),),
  medium: ('h1': ('font-size': 40), 'h2': ('font-size': 34), 'h3': ('font-size': 26), 'h4': ('font-size': 20), 'h5': ('font-size': 18), 'h6': ('font-size': 16),),*/
  .h1 {
    font-size: 47px;
    line-height: 47px;
    @include breakpoint(small down) {
      font-size: 34px;
      line-height: 38px;
      display: block;
      margin: 10px 0px;
    }
  }
  
  .h2 {
    font-size: rem-calc(24);
    @include breakpoint(small down) {
      font-size: rem-calc(24);
    }
  }
  
  .h3 {
    font-size: rem-calc(20);
    @include breakpoint(small down) {
      font-size: rem-calc(20);
    }
  }
  
  .h4 {
    font-size: rem-calc(18);
    @include breakpoint(small down) {
      font-size: rem-calc(18);
    }
  }
  
  .h5 {
    font-size: rem-calc(17);
    @include breakpoint(small down) {
      font-size: rem-calc(17);
    }
  }
  
  .res-heading {
    @include breakpoint(small down) {
      font-size: rem-calc(18);
    }
  }
  /*angle right list style Type*/
  .wysiwyg ul,
  ul.angle-right {
    margin-left  : 0;
    margin-bottom: 20px;
  
    li {
      position    : relative;
      padding-left: 15px;
  
      &::before {
        font-family: "Font Awesome 6 Pro";
        content    : "\f105";
        position   : absolute;
        left       : 0;
        top        : 0;
      }
  
      ol {
        li {
          padding-left: 0;
  
          &::before {
            content: "";
          }
        }
      }
    }
  
    &.web-list {
      li {
        padding-left: 25px;
  
        &::before {
          content: "\f37e";
        }
      }
    }
  }
  
  .wysiwyg ul.no-bullet,
  ul.no-bullet {
    li {
      padding-left: 0;
  
      &::before {
        display: none;
      }
    }
  }
  
  .text-shadow {
    text-shadow: rgba(0, 0, 0, .3) 2px 3px 5px;
  }
  
  .large {
    font-size  : 32px;
    line-height: 36px;
    @include breakpoint(medium down) {
      font-size  : 22px;
      line-height: 26px;
    }
    @include breakpoint(small down) {
      font-size  : 18px;
      line-height: 22px;
    }
  }
  /*james*/
  .wysiwyg ul.check-circle,
  ul.check-circle {
    li {
      position    : relative;
      padding-left: 30px;
  
      &::before {
        font-family: "Font Awesome 6 Pro";
        content    : "\f058";
        position   : absolute;
        left       : 0;
        top        : 0;
      }
    }
  }
  
  .wysiwyg ul.large,
  ul.large {
    li {
      position     : relative;
      padding-left : 45px;
      margin-bottom: 20px;
      @include breakpoint(medium down) {
        padding-left: 30px !important;
      }
    }
  }
  /*james*/
  .larger {
    font-size  : 42px;
    line-height: 46px;
    @include breakpoint(medium down) {
      font-size  : 32px;
      line-height: 36px;
    }
    @include breakpoint(small down) {
      font-size  : 28px;
      line-height: 32px;
    }
  }
  
  .extra-large-sub-heading {
    font-size: 32px;
    @include breakpoint(medium down) {
      font-size: 22px;
    }
  }
  
  .extra-large {
    font-size  : 62px;
    line-height: 66px;
    @include breakpoint(medium down) {
      font-size  : 42px;
      line-height: 46px;
    }
    @include breakpoint(small down) {
      font-size  : 28px;
      line-height: 32px;
    }
  }
  
  .extra-large-2 {
    font-size  : 62px;
    line-height: 66px;
    @include breakpoint(medium down) {
      font-size  : 42px;
      line-height: 46px;
    }
    @include breakpoint(small down) {
      font-size  : 28px;
      line-height: 32px;
    }
  }
  
  .extra-large-small {
    font-size  : 62px;
    line-height: 66px;
    @include breakpoint(medium down) {
      font-size  : 42px;
      line-height: 46px;
    }
    @include breakpoint(small down) {
      font-size  : 42px;
      line-height: 46px;
    }
  }
  
  .wysiwyg {
    table {
      thead {
        tr {
          th {
            
            color     : #fff;
          }
        }
      }
    }
  }
  /* tables */
  table {
    caption {
      text-align: left;
      color     : $core-blue;
  
      &::before {
        font-family : "Font Awesome 6 Pro";
        content     : "\f107";
        opacity     : .5;
        margin-right: 5px;
        color       : $core-blue;
      }
    }
  
    tbody th,
    thead {
      background: $core-blue;
      color     : #fff;
    }
  
    td {
      vertical-align: top;
      border-right  : 1px solid #eee !important;
    }
  
    tr {
      td {
        &:last-child {
          border-right: 0 !important;
        }
      }
    }
  
    tr {
      border-bottom: 1px solid #eee !important;
    }
  }
  
  .wysiwyg {
    table {
      td {
        vertical-align: top;
        border-right  : 1px solid #eee !important;
      }
  
      tr {
        td {
          &:last-child {
            border-right: 0 !important;
          }
        }
      }
  
      tr {
        border-bottom: 1px solid #eee !important;
      }
    }
  }
  
  .large-off-canvas {
    width            : 60%;
    -webkit-transform: translate(-70%);
    -ms-transform    : translate(-70%);
    transform        : translate(-70%);
    overflow         : visible;
    @include breakpoint(medium only) {
      width: 50%;
    }
    @include breakpoint(small down) {
      width: 90%;
    }
  }
  
  h2 {
    &:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6) {
      font-size  : rem-calc(42);
      font-weight: 700;
  
      > strong {
        font-weight: 700;
      }
      @include breakpoint(small down) {
        font-size: rem-calc(30);
      }
    }
  }
  
  h1 {
    font-size: rem-calc(44);
    @include breakpoint(small down) {
      font-size: rem-calc(30);
    }
  }
  
  .wysiwyg {
    //max-width:38em;
    p {
      margin-top   : 20px;
      margin-bottom: 20px;
    }
  
    li,
    p {
      font-size  : rem-calc(19);
      line-height: rem-calc(30);
    }
  
    h2 {
      &:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6) {
        margin-top : 30px;
        font-size  : rem-calc(42);
        font-weight: 700;
  
        > strong {
          font-weight: 700;
        }
        @include breakpoint(small down) {
          font-size: rem-calc(28);
        }
      }
    }
  
    h3 {
      &:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6) {
        margin-top : 45px;
        font-size  : rem-calc(22);
        font-weight: 700;
        @include breakpoint(small down) {
          font-size: rem-calc(22);
        }
  
        > strong {
          font-weight: 700;
        }
      }
    }
  
    h4,
    h5,
    h6 {
      &:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6) {
        font-weight: 600;
        font-size  : rem-calc(18);
  
        > strong {
          font-weight: 600;
        }
        @include breakpoint(small down) {
          font-size: rem-calc(18);
        }
      }
    }
  
    .callout {
      h2 {
        margin-top: 0 !important;
      }
    }
  }
  
  .page_letters {
    ul {
      li {
        font-weight  : 600;
        margin-right : 5px;
        margin-bottom: 5px;
  
        a {
          @include button;
          margin-bottom: 0;
        }
  
        span {
          line-height: 1;
          display    : block;
          background : #f4f4f4 !important;
          color      : #4f4f4f !important;
          text-align : center;
        }
  
        a,
        span {
          width  : 42px;
          height : 42px;
          padding: 12px;
        }
      }
    }
  }
  
  .blockquote {
    &::before {
      font-family: "Font Awesome 6 Pro";
      content    : "\f10d";
      display    : block;
      font-size  : 44px;
    }
  }
  /* accessibility for links focus */
  .wysiwyg a,
  h2 a,
  h3 a,
  h4 a,
  p a {
    /*border-bottom: 1px dotted #ccc;*/
  }
  
  .callout,
  .footer,
  h3,
  h4,
  h5,
  li,
  p,
  td {
    &:not(.menu-item):not(.is-active) {
      a {
        &:not(.button):not(.mega-menu-link):not(.hover):not(.menu-item) {
          text-decoration: underline;
  
          &:focus {
            //outline         : 3px solid transparent;
            //background-color: #fd0 !important;
            //box-shadow      : 0 -2px #fd0, 0 4px #0b0c0c;
            //text-decoration : none;
            //color           : #000 !important;
  
            //* {
            //  color: #000 !important;
            //}
          }
  
          &:active {
            color: #0b0c0c;
          }
  
          &:hover {
            color: $core-blue;
          }
  
          &:visited {
            color: black;
          }
        }
      }
    }
  }
  
  .global-nav > li > a {
    &:focus {
      background: $core-blue !important;
      color     : #fff !important;
      box-shadow: none;
    }
  }
  /* accessibility link fixes */
  /*.breadcrumbs a,
  p a.text-white,
  .white-text p a,
  .white-text li a
  {
    text-decoration: underline dotted #fff 1px !important;
  
    &.button
    {
      text-decoration: none !important;
    }
  }*/
  
  body {
     .sub-navigation-dropdown ul li a, p, .page-hero-beta .grid-container .content p, .wysiwyg p, blockquote, .wysiwyg li, .caption, .footer-beta .sub-footer a, .footer-beta .grid-container a, .ulster-header-beta .main-navigation ul .mega-menu-beta ul li a {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 16px;
      line-height: 26px;
  
      @include breakpoint (small down) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  
  