.vimeo-container {
  position: relative;

  .vimeo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    z-index: 9;
    background-color: $accessible-blue;
    border-radius: 10px;

    iframe {
      width: 100%;
      height: 100%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    
    }

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 11;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .play-video {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    border-radius: 10px;

    &::before {
      content:"";
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.6;
      border-radius: 10px;
      background: rgb(5,5,5);
      background: rgb(5,5,5);
      background: -moz-linear-gradient(214deg, rgba(5,5,5,0) 0%, rgba(5,5,5,0) 55%, rgba(5,5,5,0.9108237044817927) 100%);
      background: -webkit-linear-gradient(214deg, rgba(5,5,5,0) 0%, rgba(5,5,5,0) 55%, rgba(5,5,5,0.9108237044817927) 100%);
      background: linear-gradient(214deg, rgba(5,5,5,0) 0%, rgba(5,5,5,0) 55%, rgba(5,5,5,0.9108237044817927) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050505",endColorstr="#050505",GradientType=1);
    }

    &:after {
      font-family: "Font Awesome 6 Pro";
      content: "\f04b";
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: 100px;
      height: 100px;
      border: 5px solid white;
      border-radius: 50%;
      color: $accessible-blue;
      font-size: 47px;
      text-align: center;
      padding: 10px 30px;
      background-color: white;
      font-weight: 900;
    }

    &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);

      &:after {
        background-color: $core-blue;
        color: white;
        border-color: $core-blue;
      }
    }
  }


  .stop-video {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50px;
    width: 102px;
    height: 111px;
    z-index: 12;
    border-radius: 10px;
    display: none;

    &:after {
      font-family: "Font Awesome 6 Pro";
      content: "\f00d";
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: 80px;
      height: 80px;
      border: 5px solid white;
      border-radius: 50%;
      color: $accessible-blue;
      font-size: 34px;
      text-align: center;
      padding: 9px 10px;
      background-color: white;
      font-weight: 900;
    }

    &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);

      &:after {
        background-color: $core-blue;
        color: white;
        border-color: $core-blue;
      }
    }
  }
}


.full-width-video {
  .vimeo-container {
    min-height: 706px;
  }
}

.video-play-tiles {


  .video-tile {
    min-height: 350px;

   .play-video:after, .stop-video:after  {
     
      bottom: 30px;
      left: 30px;
      width: 80px;
      height: 80px;
      font-size: 36px;
      padding: 8px 10px;
      text-align: center;
    }

    .stop-video:after  {
      width: 60px;
      height: 60px;
      font-size: 25px;
    }

    

    .play-video:after {
      padding: 8px 23px;
    }
  }
}

.page-hero-beta.vimeo-container .vimeo-wrapper {
  iframe {
    position: absolute;
    width: 190vw;
    min-height: 100vh;
    min-width: 190.77vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.promo-container {
  padding-left: 4em;

  @include breakpoint(small only) {
    padding-left: 0em;
    margin-top: 2em;

    position: absolute !important;
    top: -10px;
    left: 1em;
    right: 1em;
    width: 90%;
    z-index: 99;
    margin-top: 1.2em;

    iframe {
      height: 215px;
    border-radius: 0px;
    }
  }
}

.promo-live {
  border-radius: 15px;
  box-shadow:                0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
}




@include breakpoint (medium down) {
  .vimeo-container {
    min-height: 400px;
    margin-bottom: 2em;
  }


  .vimeo-container .play-video, .video-play-tiles .video-tile .play-video, .vimeo-container .stop-video, .video-play-tiles .video-tile .stop-video {
    right: 0px;

    &:after {
      left: 20px;
      bottom: 25px;
      width: 60px;
      height: 60px;
      font-size: 30px;
      padding: 3px 14px;
    }

    &:hover {
      box-shadow:0 10px 20px rgba(0,0,0,0.06), 0 6px 6px rgba(0,0,0,0.06);

      &::after {
        
      }
    }
  }

  .vimeo-container .stop-video:after, .video-play-tiles .video-tile .stop-video:after {
    padding: 3px 4px;
  }


  .vimeo-container .vimeo-wrapper iframe {
    pointer-events: all;
  }

  .full-width-video {
    .vimeo-container {
      min-height: 400px;
    }
  }
}

@include breakpoint (small only) {
  .grid-padding-x>.cell {
    padding-right: 0em;
    padding-left: 0em;
  }

  .vimeo-container {
    min-height: 240px;
    margin-bottom: 0px;
  }

  .full-width-video {
    .vimeo-container {
      min-height: 240px;
    }
  }

  .video-play-tiles .video-tile {
    min-height: 240px;
  }
}


// Christmas
.christmas-card-page {
  min-height: 100vh;
  background-color: #010a2e;
  color: white;

  .grid-container, .grid-x {
    min-height: 100vh;
  }

  .logo {
    margin-bottom: 2em;
    max-width: 140px;
  }

  h1 {
    text-transform: capitalize;
    line-height: 55px;
    font-size: 55px;
    margin-bottom: 25px;
    font-weight: bold;
   
  }
 



   .content-container {
    display: block;
    // background-color: rgba(255, 255, 255, 0.94);
    color: white;
    margin-top: -4em;
    padding: 2em 4em 2em;
    border-radius: 60px;
    text-align: left;
    position: relative;
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .content-container {
    text-align: center;

    

    p {
      max-width: 70%;
      margin: auto;
      margin-bottom: 1em;
    }
  }


  

  .form-container {
    padding: 2em 3em;
    color: #fff;
    text-align: left!important;
    background-color: #00042e;
    margin: 2em auto 4em;
    border-radius: 20px;

    h1, h2 {
      text-align: left !important;
    }

    label {
      color: white;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    p {
      max-width: 100%;
    }

    .button {
      text-decoration: none;
    }

    thead, tbody, tfoot, table,  tbody tr:nth-child(even), table tr, table td {
      background-color: rgba(0,0,0,0);
      border: 0px !important;
      padding: 0px;
    }

    textarea {
      padding-top: 17px;
    }

    h1 {
      text-align: center;
    }

    
  }

 .page-content .button {
    background-color: white;
    color: $core-blue;
  }

  .page-content {
    z-index: 9;
    position: relative;

    p {
      font-size: 18px;
    }
    .button {
      margin-top: 20px;
    }
  }


.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  z-index: 9;
  background-color: #010a2e;
  display: none;

  .background-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
  }
 
 
 }
 .vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 190.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 
 .persons-name {
  position: absolute;
  top: 29%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  max-width: 400px;
  z-index: 99999;
  color: #ff2a2b;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height:40px;
   display: none;
   z-index: 999999;
    background-color: white;
    height: fit-content;
    padding: 30px 0px;
    min-height: 150px;
  
   h2, h1 {
    font-size: 60px !important;
    background-color: white;
    padding: 0px 20px;
    margin-top: 0px;
   }
   

  
 }


 .card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
  display: inline-block;
  border-radius: 20px;
  transform: scale(1.5);

  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

.break{
  left:6%;
  top:23%;
}

@keyframes heartbeat {
  0% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
  25% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
  30% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  50% { transform: translate(-50%, -50%) rotate(45deg) scale(1.2); }
  70% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  100% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
}

.play-video {
  font-size: 35px;
    z-index: 9999;
    position: relative;
}

 .persons-message {
  z-index: 99999;
  color: #ffffff;
 margin: auto;
  text-align: center;
  display: none;
  
  p {
    font-size: 18px !important;
    max-width: 100%;
  }

  .lead {
    font-size: 25px;
  }

  
  .lead {
  font-size: 25px !important;
  }


  

  .lead {
    font-weight: bold;
  }

 
}
  

}

.star {
  --twinkle-duration: "";
  --twinkle-delay: "";
  --star-size: "";
  position: absolute;
  width: var(--star-size);
  height: var(--star-size);
  background: #fff;
  border-radius: 50%;
  animation: twinkle infinite alternate;
  animation-duration: var(--twinkle-duration);
  animation-delay: var(--twinkle-delay);
}
  
@keyframes twinkle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 0.5px rgba(150, 150, 150, 0.6);
    }
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.67);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}


.error-message {
  background-color: #750b0b;
    border-radius: 20px;
    margin-bottom: 3em;

    p {
      padding: 20px 30px 0px;
    }

    ul {
      padding: 0px 30px 40px;
    }
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
}